:root {
  --color-background: hsl(225, 100%, 97%);
  --color-primary: hsl(245, 75%, 52%);
  --color-secondary1: hsl(225, 100%, 98%);
  --color-para: hsl(224, 23%, 55%);
  --color-heading: hsl(223, 47%, 23%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e0e8ff;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100vw 30vh;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}

main {
  /* margin-top: 11vh; */
  max-width: 330px;
  margin: 11vh auto;
  /* overflow: hidden; */
  border-radius: 15px;
  background-color: #ffffff;
  /* box-shadow: 10px 10px; */
}

.hero {
  background-image: url(../images/illustration-hero.svg);
  background-size: cover;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.heading {
  text-align: center;
  margin: 4rem auto 2rem;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--color-heading);
}

.para {
  text-align: center;
  max-width: 270px;
  margin: auto auto;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-para);
}

.plan--pay {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}

.plan {
  display: flex;
  background-color: var(--color-background);
  width: 100%;
  margin: 3rem auto;
  border-radius: 15px;
  align-items: center;
  /* justify-content: space-around; */
}

.music--icon {
  /* height: 60%; */
  margin: 1.6rem 1.5rem 1.6rem 1.5vw;
}

.time {
  font-weight: 900;
  color: var(--color-heading);
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 1.6rem 0.5vw 1.6rem 0;
}

.price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color-para);
}

.plan > a {
  margin: auto;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.2rem;
}

.plan > a:hover {
  text-decoration: none;
  opacity: 0.6;
}

button {
  border: none;
  width: 100%;
  font-weight: 900;
  padding: 1.7rem;
  font-size: 1.2rem;
  margin-bottom: 20px;
  cursor: pointer;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment--btn {
  background-color: var(--color-primary);
  color: white;
  letter-spacing: 0.1rem;
  border-radius: 10px;
  box-shadow: 0px 10px 30px grey;
  /* margin: auto; */
}
.payment--btn:hover {
  /* transform: translate(0px, -5px); */
  opacity: 0.7;
  /* cursor: pointer; */
}

.cancel--btn {
  /* align-items: center; */
  background-color: transparent;
  max-width: 11.1rem;
  color: var(--color-para);
  margin-bottom: 30px;
}

.cancel--btn:hover {
  /* cursor: pointer; */
  color: var(--color-heading);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100vw 400px;
  }

  main {
    max-width: 450px;
  }

  .hero {
    height: 218px;
  }
}
