:root {
  --color-primary1: hsl(225, 100%, 94%);
  --color-primary2: hsl(245, 75%, 52%);
  --color-secondary1: hsl(225, 100%, 98%);
  --color-secondary2: hsl(224, 23%, 55%);
  --color-secondary3: hsl(223, 47%, 23%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e0e8ff;
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100vw 29vh;
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}

.card {
  /* margin-top: 11vh; */
  margin: 11vh 7vw;
  overflow: hidden;
  border-radius: 4vw;
}

.hero img {
  /* overflow: hidden; */
  width: 86vw;
  /* height: 10vw; */
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
